/* // COMMON */
:root{
    --color__black: #000000;
    --color__white: #FFFFFF;
    --color__body-bg: #282934;
    --color__font--default: rgba(black, .8);
}

html {
    font-size: 20px;
  }
body {
margin: 0;
padding: 0;
background: var(--color__body-bg);
color: var(--color__font--default);
font-family: 'Noto Sans KR', sans-serif;
}